.vote-action{
  display: flex;
}

.vote-action:hover{
  background: #f8f9faab;
}

.vote{
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  background-color:rgba(0, 0, 0, 0);
}

.vote:hover{
  background: #e9e9e9;
}

.vote:focus{
  outline: none;
}

.vote:active{
  background-color: #c0c0c0;;
}

.vote svg{
  width: 24px;
  height: 24px;
  fill:  currentColor;
}

.upvote {
  color: rgb(100, 100, 100);
  padding: 0;
  border-radius: 8px 0 0 8px;
}

.downvote {
  color: rgb(100, 100, 100);
  padding: 0;
  border-radius: 0 8px 8px 0;
}

.downvote.active{
  color: red;
}

.upvote.active{
  color: green;
}

.vote-score{
  cursor: default;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin: 4px 0;
  width: 24px;
  text-align: center;
}