.sidebar {
  width: 250px;
  background: #f8f9fa;
  border-right: 1px solid #e9ecef;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 82px;
}

.sidebar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar__item {
  margin: 4px 0;
}

/* Ссылки навигации */
.sidebar__link {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  color: #495057;
  border-radius: 8px;
  margin: 0 8px;
  transition: all 0.2s;
}

.sidebar__link:hover {
  background: #e9ecef;
  color: #000;
}

.sidebar__link--active {
  background: #007bff;
  color: white;
}

/* Кнопки действий */
.sidebar__button {
  display: flex;
  align-items: center;
  width: 93%;
  padding: 12px 16px;
  border: none;
  background: transparent;
  border-radius: 8px;
  margin: 0 8px;
  cursor: pointer;
  text-align: left;
  color: #495057;
}

.sidebar__button:hover {
  background: #e9ecef;
  color: #000;
}

.sidebar__button:focus{
  outline: none;
}

/* Иконки и текст */
.sidebar__icon {
  margin-right: 12px;
  width: 20px;
  text-align: center;
}

.sidebar__text {
  font-size: 14px;
  font-weight: 500;
}

/* Разделитель */
.sidebar__divider {
  height: 1px;
  background: #e9ecef;
  margin: 12px 16px;
}