.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 5px auto;
  overflow: hidden;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-slide {
    min-width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.carousel-background {
    width: 100%;
    filter: blur(20px);
    position: absolute;
    z-index: -1;
}

.carousel-image,
.carousel-video {
    object-fit: contain;
    max-width: 100%;
    max-height: 400px;
    height: auto;
    display: block;
}

.carousel-video {
    width: auto;
    max-height: 380px;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  background: rgba(100, 100, 100, 0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-prev { left: 10px; }
.carousel-next { right: 10px; }

.carousel-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.dot.active {
  background: white;
}