#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.main {
  margin: 20px auto;
  padding: 0 16px;
}

.main-content {
  padding: 20px;
  grid-column: 2;
  min-height: calc(100vh - 60px);
}

.app {
  display: flex;
  flex-direction: column;
}

.grid-container{
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: calc(100vh - 60px);
}

.collapsed{
  display: none;
}